
pandas
openpyxl

langchain
langchain_core
langchain_community
langchain_ollama

tqdm
xmltodict

fuzzywuzzy
python-docx

langgraph
graphviz
requests

ipython
fastapi 
uvicorn[standard]
pydantic

boto3 
